.button {
  @include font(Gilroy, 500, normal, 18px, 47px, $basic-white );
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid $basic-white;
  cursor: pointer;
}

.button--callback {
  height: 51px;
  min-width: 200px;
  margin-left: 67px;
}

.button--callback:hover,
.button--callback:focus {
  background-color: $basic-white;
  color: $basic-black;
}

.button--callback:active {
  opacity: 0.7;
}

.button--yellow {
  background: linear-gradient(90deg, #fbf0c6 0%, #f6e395 100%);
  color: $basic-black;
  border: none;
}

.button--yellow:hover,
.button--yellow:focus {
  background: $button-yellow-hover;
}

.button--yellow:active {
  opacity: 0.7;
}

.button--callback-form {
  width: 275px;
  height: 72px;
  letter-spacing: 0;
  margin-bottom: 21px;
}

.button--materials {
  margin: 0 auto 45px;
  width: 275px;
  height: 72px;
}

.button--callback-form-modal {
  width: unset;
}
