@mixin background-supports($path, $ext: "png") {
  background-image: url("#{$path}.#{$ext}");

  @supports (background-image: url("#{$path}.webp")) {
    background-image: url("#{$path}.webp");
  }
}

.callback-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: $callback-form-background;
  padding: 36px 0 36px 62px;
  filter: drop-shadow(0 5px 40px rgba($dark-background, 0.4));
}

.callback-form__heading {
  @include font(Gilroy, normal, normal, 42px, 45px, $basic-black);
  max-width: 380px;
  letter-spacing: -1px;
  margin: 0 0 30px 0;
}

.callback-form__text {
  margin-right: 40px;
}

.callback-form__list {
  list-style: none;
  max-width: 403px;
  padding: 0 0 0 39px;
  margin: 0;
}

.callback-form__item {
  @include font(Gilroy, normal, normal, 16x, normal, $basic-black);
  position: relative;
  letter-spacing: -0.02em;
  margin-bottom: 18px;

  &:first-child {
    max-width: 322px;
  }

  &::before {
    position: absolute;
    content: '';
    @include background-supports("./../img/form-ellipse");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 3px;
    left: -36px;
  }
}

.callback-form__wrapper {
  display: flex;
  padding-top: 14px;
}

.callback-form__wrapper form {
  display: flex;
  flex-direction: column;
}

.callback-form__name-input,
.callback-form__phone-input {
  @include font(Gilroy, normal, normal, 16x, 41px, $basic-black);
  border: 1px solid $input-border;
  border-radius: 10px;
  letter-spacing: -0.02em;
  padding: 6px 24px 7px 24px;
  margin-bottom: 10px;
  width: 359px;
}

.callback-form__phone-input  {
  margin-bottom: 13px;
}

.callback-form__legal {
  @include font(Gilroy, normal, normal, 12px, normal, $basic-black);
  max-width: 292px;
  margin: 0;
  letter-spacing: -0.02em;
}

.callback-form__manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 22px;
}

.callback-form__manager img {
  margin-bottom: 17px;
}

.callback-form__manager-name {
  @include font(Gilroy, bold, normal, 22px, normal, $basic-black);
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}

.callback-form__manager-function {
  @include font(Gilroy, normal, normal, 17px, normal, $basic-black);
  letter-spacing: -0.02em;
}

//----- Form in the Trust block

.callback-form--trust .callback-form__heading {
  margin-bottom: 20px;
}

.callback-form--trust .callback-form__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.callback-form--modal {
  padding: 50px;
  max-width: 560px;
}

.callback-form--modal .callback-form__heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.callback-form__wrapper--modal span {
  @include font(Gilroy, normal, normal, 24px, normal, $basic-black);
  text-align: center;
  margin: 0 0 20px 0;
}

.callback-form__wrapper--modal .callback-form__legal {
  @include font(Gilroy, normal, normal, 12px, normal, $basic-black);
  text-align: center;
  margin: 0 0 20px 0;
  max-width: unset;
}

.callback-form__wrapper--modal input {
  width: unset;
}

@media (max-width: $tablet-max-width) {
  .callback-form {
    margin: 0 16px;
  }

  .callback-form--trust {
    margin: 0;
    padding: 36px 0 36px 36px;
  }

  .callback-form__heading {
    font-size: 28px;
    max-width: 425px;
  }

  .callback-form__manager {
    padding-top: 0;
  }

  .callback-form__manager-name {
    font-size: 18px;
    text-align: center;
  }

  .callback-form__manager-function {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: $mobile-max-width) {
  .callback-form__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: $mobile-max-width) {
  .callback-form {
    padding: 36px 20px 36px 20px;
  }

  .callback-form__wrapper form {
    width: 100%;

    & input {
      width: 100%;
    }
  }

  .callback-form--trust {
    padding: 36px 20px 36px 20px;
  }
}
