@mixin background-supports($path, $ext: "png") {
  background-image: url("#{$path}.#{$ext}");

  @supports (background-image: url("#{$path}.webp")) {
    background-image: url("#{$path}.webp");
  }
}

.contacts {
  width: 405px;
  height: 457px;
  background-color: $basic-white;
  z-index: 11;
  position: relative;
  padding: 24px 42px 0 35px;
}

.contacts__heading {
  @include font(Gilroy, bold, normal, 42px, normal, $basic-black);
  letter-spacing: -1px;
  margin: 0 0 16px 0;
}

.contacts__call-us {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 10px;
}

.contacts__call-us a {
  @include font(Gilroy, bold, normal, 31px, normal, $basic-black);
  letter-spacing: -0.02em;
  margin: 0 0 45px 0;
  text-align: center;
}

.contacts__call-us .contacts__wa-link {
  margin: 0;

  & img {
    display: block;
  }
}

.contacts__email {
  display: block;
  @include font(Gilroy, bold, normal, 24px, normal, $basic-black);
  letter-spacing: -0.02em;
  padding-left: 5px;
  margin-bottom: 22px;
}

.contacts__address {
  @include font(Gilroy, bold, normal, 18px, normal, $basic-black);
  letter-spacing: -0.02em;
  padding: 0 0 0 40px;
  margin: 0 0 39px 0;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 5px;
    @include background-supports("./../img/pin");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

.contacts__address p {
  margin: 0 0 12px 0;
}

.contacts__bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__details-item {
  @include font(Gilroy, bold, normal, 12px, normal, $basic-black);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contacts__social {
  display: grid;
  grid-template-columns: 1fr 36px;
  padding-right: 4px;
}

.contacts__social p {
  @include font(Gilroy, bold, normal, 12px, normal, $basic-black);
  letter-spacing: -0.02em;
  text-align: right;
  margin: 0 19px 0 0;
}

@media (max-width: $tablet-max-width) {
  .contacts {
    width: 100%;
    height: 330px;
    padding: 24px 16px 0 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .contacts__heading {
    font-size: 36px;
    grid-row: 1 / 2;
  }

  .contacts__call-us {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    .contacts__phones {
      display: flex;
      flex-wrap: wrap;

      & a {
        margin: 0;
      }
    }
  }

  .contacts__email {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .contacts__address {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-self: right;
  }

  .contacts__bottom-wrapper {
    grid-column: 1 / 3;
    grid-row: 5 / 5;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .contacts__call-us {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .contacts__call-us a {
    font-size: 20px;
  }

  .contacts__address {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: left;
  }

  .contacts__bottom-wrapper {
    grid-column: 2/3;
    grid-row: 4/5;
    grid-template-columns: 1fr;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts__call-us a {
    font-size: 18px;
  }
}
