.cupboards-materials__container {
  max-width: 1228px;
  margin: 0 auto;
  padding: 30px;
}

.cupboards-materials__container--fullwidth {
  display: none;
  max-width: unset;
  background-color: $materials-scroll-background;
  padding-bottom: 42px;
}

.cupboards-materials__container--shown {
  display: block;
}

.cupboards-materials__heading {
  @include font(Gilroy, 500, normal, 48px, normal, $basic-black);
  letter-spacing: -1px;
  margin: 0 auto;
  max-width: 1228px;
  padding: 36px 30px 30px 30px;
}

.cupboards-materials__list {
  display: flex;
  padding: 25px 30px 29px;
  justify-content: space-between;

  &--third {
    margin-bottom: 33px;
  }
}

.cupboards-materials__item {
  display: flex;
  flex-direction: column;
}

.cupboards-materials__item--ldsp:hover,
.cupboards-materials__item--mirror:hover,
.cupboards-materials__item--mirror-decor:hover,
.cupboards-materials__item--glass-decor:hover,
.cupboards-materials__item--inset-decor:hover {
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba($basic-black, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}

.cupboards-materials__item-image {
  margin-bottom: 23px;
}

.cupboards-materials__item-title {
  @include font(Gilroy, 500, normal, 16px, normal, $materials-titles);
  max-width: 262px;
  margin: 0;
  text-align: center;
}

.cupboards-materials__list--third {
  display: none;
}

.cupboards-materials__list--shown {
  display: flex;
}

@media (max-width: $tablet-max-width) {
  .cupboards-materials__heading {
    padding: 36px 16px 30px;
    font-size: 36px;
  }

  .cupboards-materials__list {
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px;
    padding: 25px 16px 80px;

    &::-webkit-scrollbar-track {
      background: #37393b;
      border-radius: 3px;
      margin: 0 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $materials-scrollbar-thumb;
      border-radius: 3px;
    }

    &::-webkit-scrollbar {
      padding: 0 5px;
      height: 6px;
      background: transparent;
    }
  }

  .cupboards-materials__item {
    width: 266px;
    height: 173px;
  }
}
