.factory {
  background-color: $dark-background;
}

.factory__wrapper {
  max-width: 1228px;
  margin: 0 auto;
  padding: 27px 30px 30px 30px;
}

.factory__heading {
  @include font(Gilroy, 500, normal, 48px, normal, $basic-white);
  letter-spacing: -1px;
  margin: 0 0 45px 0;
}

.factory__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 40px;
}

.factory__photos-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 28px;
  padding: 0;
  margin: 0;
}

.factory__photos-item img,
.factory__photo-main img {
  display: block;
}
