@mixin background-supports($path, $ext: "jpg") {
  background-image: url("#{$path}.#{$ext}");

  @supports (background-image: url("#{$path}.webp")) {
    background-image: url("#{$path}.webp");
  }
}

.page-header {
  @include background-supports('./../img/bg1');
  background-size: cover;
  background-position: top center;
}

.page-header__wrapper-top {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba($basic-white, 0.2);
}

.page-header__container,
.page-header__promo {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: $tablet-max-width) {
  .page-header__wrapper-top {
    border-bottom: none;
  }
}
