.page-header {
  background-image: url('./../img/bg1.jpg');
  background-size: cover;
  background-position: center;
}

.page-header__wrapper-top {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba($basic-white, 0.2);
}

.page-header__container,
.page-header__promo {
  max-width: 1250px;
  margin: 0 auto;
}
