.portfolio__wrapper {
  max-width: 1228px;
  margin: 0 auto;
  padding: 84px 30px;
}

.portfolio__heading {
  @include font(Gilroy, 500, normal, 48px, normal, $basic-black);
  letter-spacing: -1px;
  margin: 0 0 37px 0;
}

.portfolio__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
