.portfolio__wrapper {
  max-width: 1305px;
  margin: 0 auto;
  padding: 84px 75px;
  position: relative;
}

.portfolio__heading {
  @include font(Gilroy, 500, normal, 48px, normal, $basic-black);
  letter-spacing: -1px;
  margin: 0 0 37px 0;
}

.portfolio__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  flex-shrink: unset!important;
}

.portfolio .swiper-pagination-bullet-active {
  background: $basic-black;
}

.portfolio .swiper-button-next,
.portfolio .swiper-button-prev {
  color: $basic-black;
  opacity: 0.5;
}

.portfolio .swiper-button-next:hover,
.portfolio .swiper-button-prev:hover,
.portfolio .swiper-button-next:focus,
.portfolio .swiper-button-prev:focus {
  color: $basic-accent;
  opacity: 1;
}

.portfolio .swiper-button-next:active,
.portfolio .swiper-button-prev:active{
  color: $basic-accent;
  opacity: 0.7;
}

@media (max-width: $tablet-max-width) {
  .portfolio__wrapper {
    padding: 84px 16px;
  }

  .portfolio__heading {
    font-size: 35px;
    max-width: 461px;
  }

  .products__list .products__item {
    width: 94px;
    height: 79px;
  }

  .products__list .products__item.products__item--first {
    //width: 298px;
    height: 503px;
  }

  .portfolio .swiper-button-prev--portfolio {
    top: 130px;
    right: 76px;
    left: auto;
  }

  .portfolio .swiper-button-next--portfolio {
    top: 130px;
    right: 16px;
    left: auto;
  }
}

@media (max-width: $mobile-max-width) {
  .portfolio__heading {
    font-size: 20px;
    max-width: 180px;
  }

  .portfolio__item {
    max-width: 298px;
  }
}
