.products {
  width: 365px;
}

.products__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  width: 113px;
  height: 96px;
  border-radius: 10px;
  background-color: #272a34;
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  align-items: end;
  margin-right: 13px;

  &:first-child {
    width: 365px;
    height: 620px;
    position: relative;
    margin-bottom: 14px;
    margin-right: 0;
    position: relative;

    &::before {
      @include font(Gilroy, bold, normal, 12px, normal, $basic-white);
      position: absolute;
      content: 'Наши работы';
      text-transform: uppercase;
      width: fit-content;
      height: fit-content;
      top: 90px;
      left: -13px;
      letter-spacing: 2px;
      transform: rotate(-90deg);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  span {
    @include font(Gilroy, bold, normal, 24px, normal, $basic-white);
    margin-bottom: 54px;
    margin-left: 33px;
    max-width: 149px;
  }
}

.products--wardrobe-white {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-white/wardrobe-white-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-white/wardrobe-white-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-white/wardrobe-white-1-3.png");
  }
}

.products--nursery {
  .products__item:first-child {
    background-image: url("./../img/nursery/nursery-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/nursery/nursery-1-2.png");
  }
}

.products--room {
  .products__item:first-child {
    background-image: url("./../img/room/room-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/room/room-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/room/room-1-3.png");
  }
  .products__item:nth-child(4) {
    background-image: url("./../img/room/room-1-4.png");
  }
}

.products--for-tv {
  .products__item:first-child {
    background-image: url("./../img/for-tv/for-tv-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/for-tv/for-tv-1-2.png");
  }
}

.products--with-backlit {
  .products__item:first-child {
    background-image: url("./../img/with-backlit/with-backlit-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/with-backlit/with-backlit-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/with-backlit/with-backlit-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/with-backlit/with-backlit-1-4.png");
  }
}

.products--open-wardrobe {
  .products__item:first-child {
    background-image: url("./../img/open-wardrobe/open-wardrobe-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/open-wardrobe/open-wardrobe-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/open-wardrobe/open-wardrobe-1-3.png");
  }
}

.products--open-dressing-room {
  .products__item:first-child {
    background-image: url("./../img/open-dressing-room/open-dressing-room-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/open-dressing-room/open-dressing-room-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/open-dressing-room/open-dressing-room-1-3.png");
  }
}

.products--hallway-mdf {
  .products__item:first-child {
    background-image: url("./../img/hallway-mdf/hallway-mdf-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/hallway-mdf/hallway-mdf-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/hallway-mdf/hallway-mdf-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/hallway-mdf/hallway-mdf-1-4.png");
  }
}

.products--hallway-with-mirror {
  .products__item:first-child {
    background-image: url("./../img/hallway-with-mirror/hallway-with-mirror-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/hallway-with-mirror/hallway-with-mirror-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/hallway-with-mirror/hallway-with-mirror-1-3.png");
  }
}

.products--entrance {
  .products__item:first-child {
    background-image: url("./../img/entrance/entrance-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/entrance/entrance-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/entrance/entrance-1-3.png");
  }
}

.products--work-zone {
  .products__item:first-child {
    background-image: url("./../img/work-zone/work-zone-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/work-zone/work-zone-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/work-zone/work-zone-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/work-zone/work-zone-1-4.png");
  }
}

.products--wardrobe-white-hinged {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-white-hinged/wardrobe-white-hinged-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-white-hinged/wardrobe-white-hinged-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-white-hinged/wardrobe-white-hinged-1-3.png");
  }
}

.products--wardrobe-entrance {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-entrance/wardrobe-entrance-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-entrance/wardrobe-entrance-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-entrance/wardrobe-entrance-1-3.png");
  }
}

.products--wardrobe-bedroom {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-bedroom/wardrobe-bedroom-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-bedroom/wardrobe-bedroom-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-bedroom/wardrobe-bedroom-1-3.png");
  }
}

.products--wardrobe-hinged-with-mirrors {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-hinged-with-mirrors/wardrobe-hinged-with-mirrors-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-hinged-with-mirrors/wardrobe-hinged-with-mirrors-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-hinged-with-mirrors/wardrobe-hinged-with-mirrors-1-3.png");
  }
}

.products--wardrobe-hinged-with-handles {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-hinged-with-handles/wardrobe-hinged-with-handles-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-hinged-with-handles/wardrobe-hinged-with-handles-1-2.png");
  }
}

.products--tv-zone {
  .products__item:first-child {
    background-image: url("./../img/tv-zone/tv-zone-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/tv-zone/tv-zone-1-2.png");
  }
}

.products--living-room {
  .products__item:first-child {
    background-image: url("./../img/living-room/living-room-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/living-room/living-room-1-2.png");
  }
}

.products--wardrobe-sliding-entrance {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-sliding-entrance/wardrobe-sliding-entrance-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-sliding-entrance/wardrobe-sliding-entrance-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-sliding-entrance/wardrobe-sliding-entrance-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/wardrobe-sliding-entrance/wardrobe-sliding-entrance-1-4.png");
  }
}

.products--wardrobe-sliding-bedroom {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-sliding-bedroom/wardrobe-sliding-bedroom-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-sliding-bedroom/wardrobe-sliding-bedroom-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-sliding-bedroom/wardrobe-sliding-bedroom-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/wardrobe-sliding-bedroom/wardrobe-sliding-bedroom-1-4.png");
  }
}

.products--wardrobe-with-white-foil {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-with-white-foil/wardrobe-with-white-foil-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-with-white-foil/wardrobe-with-white-foil-1-2.png");
  }
}

.products--wardrobe-with-rhombuses {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-with-rhombuses/wardrobe-with-rhombuses-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-with-rhombuses/wardrobe-with-rhombuses-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image: url("./../img/wardrobe-with-rhombuses/wardrobe-with-rhombuses-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image: url("./../img/wardrobe-with-rhombuses/wardrobe-with-rhombuses-1-4.png");
  }
}

.products--wardrobe-balcony {
  .products__item:first-child {
    background-image: url("./../img/wardrobe-balcony/wardrobe-balcony-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image: url("./../img/wardrobe-balcony/wardrobe-balcony-1-2.png");
  }
}

.products--dresser-white {
  .products__item:first-child {
    background-image: url("./../img/dresser-white.png");
  }
}

.products--bedroom-1 {
  .products__item:first-child {
    background-image:url("./../img/bedroom/bedroom-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/bedroom/bedroom-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/bedroom/bedroom-1-3.png");
  }
}

.products--bedroom-2 {
  .products__item:first-child {
    background-image:url("./../img/bedroom/bedroom-2-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/bedroom/bedroom-2-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/bedroom/bedroom-2-3.png");
  }
}

.products--bedroom-3 {
  .products__item:first-child {
    background-image:url("./../img/bedroom/bedroom-3-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/bedroom/bedroom-3-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/bedroom/bedroom-3-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/bedroom/bedroom-3-4.png");
  }
}

.products--bedroom-4 {
  .products__item:first-child {
    background-image:url("./../img/bedroom/bedroom-4.png");
  }
}

.products--bedroom-5 {
  .products__item:first-child {
    background-image:url("./../img/bedroom/bedroom-5.png");
  }
}

.products--bathroom-1 {
  .products__item:first-child {
    background-image:url("./../img/bathroom/bathroom-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/bathroom/bathroom-1-2.png");
  }
}

.products--office-1 {
  .products__item:first-child {
    background-image:url("./../img/office/office-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/office/office-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/office/office-1-3.png");
  }
}

.products--lounge-1 {
  .products__item:first-child {
    background-image:url("./../img/lounge/lounge-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/lounge/lounge-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/lounge/lounge-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/lounge/lounge-1-4.png");
  }
}

.products--lounge-2 {
  .products__item:first-child {
    background-image:url("./../img/lounge/lounge-2-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/lounge/lounge-2-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/lounge/lounge-2-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/lounge/lounge-2-4.png");
  }
}

.products--lounge-3 {
  .products__item:first-child {
    background-image:url("./../img/lounge/lounge-3-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/lounge/lounge-3-2.png");
  }
}

.products--lounge-4 {
  .products__item:first-child {
    background-image:url("./../img/lounge/lounge-4-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/lounge/lounge-4-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/lounge/lounge-4-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/lounge/lounge-4-4.png");
  }
}

.products--wardrobe-1 {
  .products__item:first-child {
    background-image:url("./../img/wardrobe/wardrobe-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/wardrobe/wardrobe-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/wardrobe/wardrobe-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/wardrobe/wardrobe-1-4.png");
  }
}

.products--wardrobe-2 {
  .products__item:first-child {
    background-image:url("./../img/wardrobe/wardrobe-2-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/wardrobe/wardrobe-2-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/wardrobe/wardrobe-2-3.png");
  }
}

.products--hallway-1 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-1-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-1-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-1-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/hallway/hallway-1-4.png");
  }
}

.products--hallway-2 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-2-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-2-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-2-3.png");
  }
}

.products--hallway-3 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-3-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-3-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-3-3.png");
  }
}

.products--hallway-4 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-4-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-4-2.png");
  }
}

.products--hallway-5 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-5-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-5-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-5-3.png");
  }
}

.products--hallway-6 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-6-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-6-2.png");
  }
}

.products--hallway-7 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-7-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-7-2.png");
  }
}

.products--hallway-8 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-8-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-8-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-8-3.png");
  }
}

.products--hallway-9 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-9-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-9-2.png");
  }

  .products__item:nth-child(3) {
    background-image:url("./../img/hallway/hallway-9-3.png");
  }

  .products__item:nth-child(4) {
    background-image:url("./../img/hallway/hallway-9-4.png");
  }
}

.products--hallway-10 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-10-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-10-2.png");
  }
}

.products--hallway-11 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-11-1.png");
  }

  .products__item:nth-child(2) {
    background-image:url("./../img/hallway/hallway-11-2.png");
  }
}

.products--hallway-12 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-12-1.png");
  }
}

.products--hallway-13 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-13-1.png");
  }
}

.products--hallway-14 {
  .products__item:first-child {
    background-image:url("./../img/hallway/hallway-14-1.png");
  }
}

@media (max-width: $tablet-max-width) {
  .products {
    width: 298px!important;
  }

  .products__list {
    width: 298px;
  }
}

@media (max-width: $mobile-max-width) {
  .products__item {
    margin-bottom: 15px;
  }
}
