.tooltips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tooltips__item {
  position: absolute;
}

.tooltips__icon {
  display: block;
  cursor: pointer;
}

.tooltips__icon:hover + .tooltips__content,
.tooltips__icon:focus + .tooltips__content {
  display: block;
}

.tooltips__content {
  display: none;
  filter: drop-shadow(0px 5px 40.5px rgba(205,205,205,0.98));
  background-color: $basic-white;
  border-radius: 10px;
  padding: 27px 13px 20px 13px;
  width: 400px;
  z-index: 1;

  img {
    margin-right: 20px;
  }

  h3 {
    @include font(Gilroy, bold, normal, 16px, normal, $materials-titles);
    margin: 0 0 7px 0;
  }

  p {
    @include font(Gilroy, 500, normal, 14px, normal, $materials-titles);
    margin: 0;
  }
}

.tooltips__top {
  display: flex;
}

.tooltips__advantages-list {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none;
}

.tooltips__advantages-item {
  @include font(Gilroy, 500, normal, 14px, normal, $materials-titles);
  margin-bottom: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 5px;
    left: -19px;
    background-image: url("./../img/tooltips-marker.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

.tooltips__item--rollers {
  position: absolute;
  bottom: 3%;
  right: 37%;
}

.tooltips__item--rollers .tooltips__content {
  position: absolute;
  bottom: 72px;
  left: 0;
}

.tooltips__item--baskets {
  bottom: 17%;
  right: 28.5%;
}

.tooltips__item--baskets .tooltips__content {
  position: absolute;
  bottom: 72px;
  left: -41px;
}

.tooltips__item--profile {
  top: 0;
  right: 15%;
}

.tooltips__item--profile .tooltips__content {
  position: absolute;
  top: 75px;
  left: -188px;
}

.tooltips__item--shoe-mesh {
  bottom: 10%;
  left: 30%;
}

.tooltips__item--shoe-mesh .tooltips__content {
  position: absolute;
  bottom: 72px;
  left: -41px;
}

.tooltips__item--angles {
  top: 41%;
  right: 8%;
}

.tooltips__item--angles .tooltips__content {
  position: absolute;
  top: 72px;
  left: -264px;
}

.tooltips__item--schlegel {
  top: 10%;
  right: 1%;
}

.tooltips__item--schlegel .tooltips__content {
  position: absolute;
  top: 72px;
  right: 0;
}

.tooltips__item--trousers-hangers {
  bottom: 30%;
  left: 35%;
}

.tooltips__item--trousers-hangers .tooltips__content {
  position: absolute;
  top: 72px;
  right: 0;
}

.tooltips__item--open-guide-rails {
  top: 63%;
  right: 22.5%;
}

.tooltips__item--open-guide-rails .tooltips__content {
  position: absolute;
  bottom: 72px;
  right: 0;
}

.tooltips__item--hidden-guide-rails {
  bottom: 29%;
  right: 29%;
}

.tooltips__item--hidden-guide-rails .tooltips__content {
  position: absolute;
  bottom: 72px;
  right: 0;
}

.tooltips__item--pantograph {
  top: 31%;
  left: 3%;
}

.tooltips__item--pantograph .tooltips__content {
  position: absolute;
  bottom: 72px;
  left: 0;
}

@media (max-width: $tablet-max-width) {
  .tooltips__item--rollers .tooltips__content {
    bottom: 55px;
    left: -135px;
  }

  .tooltips__item--baskets .tooltips__content {
    bottom: 55px;
    left: -185px;
  }

  .tooltips__item--profile .tooltips__content {
    top: 55px;
    right: -95px;
    left: unset;
  }

  .tooltips__item--shoe-mesh .tooltips__content {
    bottom: 55px;
    left: -41px;
  }

  .tooltips__item--angles .tooltips__content {
    top: 55px;
    left: -305px;
  }

  .tooltips__item--schlegel .tooltips__content {
    top: 55px;
    right: -150px;
  }

  .tooltips__item--trousers-hangers .tooltips__content {
    top: 55px;
    right: 0;
  }

  .tooltips__item--open-guide-rails .tooltips__content {
    bottom: 55px;
    right: 0;
  }

  .tooltips__item--hidden-guide-rails .tooltips__content {
    bottom: 55px;
    right: 0;
  }

  .tooltips__item--pantograph .tooltips__content {
    bottom: 55px;
    left: 0;
  }
}
