.top-info {
  display: flex;
  justify-content: space-between;
  padding: 26px 40px 20px 40px;
}

.top-info__logo {
  display: flex;
}

.top-info__logo-image {
  margin-right: 34px;
}

.top-info__logo-description {
  @include font(Gilroy, 500, normal, 14px, normal, $basic-white );
  max-width: 222px;
  margin: 0;
  padding-top: 8px;
}

.top-info__feedback {
  display: flex;
}

.top-info__ask-us {
  @include font(Gilroy, 500, normal, 14px, normal, $basic-white );
  margin: 0;
  padding-top: 7px;
  max-width: 105px;
}

.top-info__wa {
  margin-left: 50px;
}

.top-info__phone-block {
  @include font(Gilroy, 500, normal, 14px, normal, $basic-white );
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.top-info__phone-block .top-info__phone-number {
  @include font(Gilroy, 500, normal, 24px, normal, $basic-white );
  letter-spacing: -1px;
  padding-top: 4px;
  margin-bottom: 2px;
}

.top-info__phone-block span:last-child {
  @include font(Gilroy, 500, normal, 11px, normal, $basic-white );
  padding-left: 8px;
}

@media (max-width: 1239px) {
  .top-info {
    padding: 26px 30px 20px;
  }

  .top-info__logo {
    display: flex;
    flex-wrap: wrap;
  }

  .top-info__ask-us {
    display: none;
  }
}

@media (max-width: $tablet-max-width) {
  .top-info {
    padding: 16px 16px 20px;
  }

  .top-info__logo-image img {
    width: 113px;
    height: fit-content;
  }

  .top-info__logo-description {
    font-size: 12px;
    height: fit-content;
    max-width: 170px;
  }

  .top-info__phone-block {
    min-width: 134px;
    margin-left: 0;
  }

  .top-info__phone-block .top-info__phone-number {
    font-size: 19px;
    line-height: 37px;
  }

  .top-info__phone-block span {
    font-size: 9px;
  };

  .top-info__wa {
    width: 39px;
    height: 39px;
    margin-left: 30px;
  }

  .top-info__phone-block span:last-child {
    font-size: 9px;
  }
}

@media (max-width: $mobile-max-width) {
  .top-info__logo-image {
    margin-right: 20px;
  }


  .top-info__phone-block,
  .top-info__wa {
    display: none;
  }

  .top-info__logo-description {
    font-size: 10px;
    max-width: 103px;
    padding-top: 2px;
  }
}
