@mixin fontLoader($font-family, $font-file, $font-type, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src:
      local($font-family +'-'+$font-type),
      url($font-file + '.woff2') format('woff2'),
      url($font-file + '.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin font($font-family, $font-type, $font-weight, $font-style, $font-size: 'auto', $line-height: 'normal', $color: inherit) {
  font-family: $font-family + ' ' + $font-type + ', sans-serif';
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@include fontLoader('Gilroy', '../fonts/Gilroy-Regular', 'Regular', '400', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-ExtraboldItalic', 'ExtraboldItalic', '800', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-Bold', 'Bold', '700', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-Black', 'Black', '900', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-Light', 'Light', '300', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-Semibold', 'Semibold', '600', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-Medium', 'Medium', '500', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-MediumItalic', 'MediumItalic', '500', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-BlackItalic', 'BlackItalic', '900', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-UltraLight', 'UltraLight', '200', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-RegularItalic', 'RegularItalic', '400', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-SemiboldItalic', 'SemiboldItalic', '600', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-SemiboldItalic', 'HeavyItalic', '900', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-Extrabold', 'Extrabold', '800', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-BoldItalic', 'BoldItalic', '700', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-UltraLightItalic', 'UltraLightItalic', '200', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-LightItalic', 'LightItalic', '300', 'italic')
@include fontLoader('Gilroy', '../fonts/Gilroy-Heavy', 'Heavy', '900', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-Thin', 'Thin', '100', 'normal')
@include fontLoader('Gilroy', '../fonts/Gilroy-ThinItalic', 'ThinItalic', '100', 'italic')
