// ----- Colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-accent: #fcde76;
$button-yellow-hover: #f7e497;
$scroll-down: #edf1f4;
$cupboards-background: #101215;
$callback-form-background: #eff3f8;
$input-border: #d2d2d2;


// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;

// ----- Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
